{% extends "mysite/tbase.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'mysite/css/home.css' %}" />{% endblock %}
{% block content %}
<div class="px-300-wide">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'mysite/website/pakistan1.jpeg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'mysite/website/pakistan2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'mysite/website/pakistan3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>

<h1 class="heading">Cities</h1>

{% if cities %}
<div class="row card-div">
  {% for city in cities %}
  <div class="col-3">
  <div class="card" style="width: 18rem;">
    {% with 'mysite/cities/'|add:city|add:'.jpg' as image_static %}
    <a href="{% url 'mysite:hotels' city=city %}">
      <img src="{% static image_static %}" class="card-img-top" alt="...">
    </a>
    {% endwith %}
    <div class="card-body">
      <p class="card-text">{{city}}</p>
    </div>
  </div>
</div>
  {% endfor %}
</div>  
{% endif %}   
{% endblock %}