{% extends 'mysite/tbase.html' %}
{% load static %}
{% load booking_filters %}
{% with 'Booking '|add:room.type as title %}
{% block title %}{{title}}{% endblock %}
{% endwith %}
{% block css %}<link rel="stylesheet" href="{% static 'mysite/css/room.css' %}">{% endblock %}
{% block content %}
<div class="room-description" style="width:950PX;">
  <img src={{room.image.url}} class="room-image" alt="">
  <div class="separator-div"></div>
  <div class="room-data" style="width: 300px;">
    <h4>{{room.type}} : </h4>
    {{room.description|linebreaks}}
  </div>
</div>
<div class="room-facilities">
  <div class="other-facilities">
    <h5>Other Facilities : </h5>
    {{room.facilities|linebreaks}}
  </div>
</div>

  <div class="booking-pannel">
  <h4>Book Now : </h4>
  <form method="post"> 
  <div class="card border-light mb-3 booking-div" style="max-width: 900px;">
    <div class="row g-2">
    <div class="col-2 text-class bg-primary text-white card-header">Room</div>
    <div class="col-2 text-class bg-primary text-white card-header">Adults</div>
    <div class="col-2 text-class bg-primary text-white card-header">Nights</div>
    <div class="col-2 text-class bg-primary text-white card-header">Quantity</div>
    <div class="col-2 text-class bg-primary text-white card-header">Price</div>
    <div class="col bg-primary card-header"></div>
    </div>
    <div class="card-body row g-5">
      <p class="card-header text-class col-2">{{room.type}}</p>
      <p class="card-header text-class col-2">{{room.capacity}}</p>
      <div class="card-header text-class col-2">
        <input type="number" placeholder="1" id="quantity" onchange="price()" name="quantity" min="1" max="7" class="night-selector" style="width:60px;">
      </div> 
      <div class="card-header text-class col-2">
        <input type="number" placeholder="1" id="night" onchange="price()" name="night" min="1" max="30" class="night-selector" style="width:60px;">
      </div>
      <p id="price" class="card-header text-class col-2">{{room.price}} Rs</p>
      <div class="card-header col" style="width:100%;">
          {% csrf_token %}
          <!--{% if bookings and bookings|bookingCheck:room.id %}
            {% if bookings|isVerified:room.id %}
              <p>Booked</p>
            {% else %}
              <p>Already applied</p>
            {% endif %}
          {% else %}
          <button type="submit" class="book-button text-class btn btn-primary" style="height: 40px;border-radius: 0px ;padding-left: 20px;padding-right: 20px;">
            Book
          </button>
          {% endif %} -->
          <button type="submit" class="book-button text-class btn btn-primary" style="height: 40px;border-radius: 0px ;padding-left: 20px;padding-right: 20px;">
            Book
          </button>
      </div>
    </div>
  </div>
</form>
</div>


{% endblock %}
{% block script %}
{{room.price|json_script:"room_price"}}
<script>
  function price(){
    let nights=document.getElementById("night").value;
    let quantity=document.getElementById("quantity").value;
    console.log(document.getElementById("room_price"));
    const price=JSON.parse(document.getElementById("room_price").textContent);
    if(nights==0){
      nights=1
    }
    else if(quantity==0){
      quantity=1
    }
    document.getElementById("price").innerHTML=nights*quantity*price+" Rs";
  }
</script>
{% endblock %}