<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'mysite/css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'mysite/css/sign-up.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
    />
  </head>
  <body>
    <form method="post">
    {% csrf_token %}
    <div class="sign-up3">
      <div class="group-div10">
        <div class="group-div10">
          <div class="desktop-15"></div>
          <div class="back5"></div>
        </div>
        <div class="group-div11">
          <div class="rectangle-div17"></div>
          <button type="submit" class="group-button5">
            <div class="rectangle-div18"></div>
            <div class="submit1">Submit</div></button
          >
          {% if error %}
          <h3 class="error">⚠️ Email Already In Use</h3>
          {% endif %}
          <input
            class="rectangle-input1"
            type="password"
            name="password"
            placeholder="Enter Password"
            minlength="8"
            required
          />
          <div class="password">Password</div>
          <input
            class="rectangle-input2"
            type="number"
            name="age"
            min="18"
            max="90"
            placeholder="Your Age"
          />
          <div class="age">Age</div>
          <input
            class="rectangle-input3"
            type="text"
            name="cnic"
            placeholder="Enter CNIC without dash"
            pattern="\d*"
            maxlength="11"
            minlength="11"
            required
          />
          <div class="cnic-no">CNIC No</div>
          <input
            class="rectangle-input4"
            type="email"
            name="email"
            placeholder="Enter you Email"
            required
          />
          <div class="email-address">Email Address</div>
          <input
            class="rectangle-input5"
            type="text"
            name="name"
            placeholder="Enter your name"
            required
          />
          <div class="name">Name</div>
          <div class="sign-up4">Sign Up</div>
        </div>
      </div>
    </form>
      <a class="bookly5" href="{% url 'mysite:home' %}" data-animate-on-scroll>Bookly</a>
    </div>

    <script>
      var scrollAnimElements = document.querySelectorAll("[data-animate-on-scroll]");
      var observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting || entry.intersectionRatio > 0) {
              const targetElement = entry.target;
              targetElement.classList.add("animate");
              observer.unobserve(targetElement);
            }
          }
        },
        {
          threshold: 0.15,
        }
      );
      
      for (let i = 0; i < scrollAnimElements.length; i++) {
        observer.observe(scrollAnimElements[i]);
      }
      </script>
  </body>
</html>
