@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
body {
  margin: 0;
  line-height: normal;
}
.desktop-15 {
  overflow: hidden;
}
.back5,
.desktop-15 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
}
.rectangle-div17,
.rectangle-div18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 725px;
  height: 764px;
}
.rectangle-div18 {
  background-color: var(--color-gray-200);
  width: 182px;
  height: 60px;
}
.submit1 {
  position: absolute;
  top: 16px;
  left: 50.01px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 81px;
  height: 29px;
}
.group-button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 629px;
  left: 297px;
  width: 182px;
  height: 60px;
}
.rectangle-input1 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 533px;
  left: 329px;
  width: 273px;
  height: 40px;
}
.password {
  position: absolute;
  top: 541px;
  left: 65px;
  font-weight: 600;
  display: inline-block;
}
.rectangle-input2 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 416px;
  left: 479px;
  width: 123px;
  height: 40px;
}
.age,
.female {
  position: absolute;
  top: 424px;
  left: 402px;
  font-weight: 600;
  display: inline-block;
}
.female {
  top: 447px;
  left: 251px;
}
.ellipse-input {
  cursor: pointer;
  position: absolute;
  top: 452px;
  left: 201px;
  background: linear-gradient(#fff, #fff), #fff;
  width: 20px;
  height: 24px;
}
.male {
  position: absolute;
  top: 403px;
  left: 251px;
  font-weight: 600;
  display: inline-block;
}
.ellipse-input1 {
  cursor: pointer;
  position: absolute;
  top: 408px;
  left: 201px;
  background: linear-gradient(#fff, #fff), #fff;
  width: 20px;
  height: 24px;
}
.gender {
  position: absolute;
  top: 409px;
  left: 65px;
  font-weight: 600;
  display: inline-block;
}
.rectangle-input3 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 307px;
  left: 329px;
  width: 273px;
  height: 40px;
}
.cnic-no {
  position: absolute;
  top: 316px;
  left: 65px;
  font-weight: 600;
  display: inline-block;
}
.rectangle-input4 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 238px;
  left: 329px;
  width: 273px;
  height: 40px;
}
.email-address {
  position: absolute;
  top: 250px;
  left: 65px;
  font-weight: 600;
  display: inline-block;
}
.rectangle-input5 {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 175px;
  left: 329px;
  width: 273px;
  height: 40px;
}
.name,
.sign-up4 {
  position: absolute;
  top: 184px;
  left: 65px;
  font-weight: 600;
  display: inline-block;
}
.sign-up4 {
  top: 77px;
  left: 286px;
  font-size: var(--font-size-2xl);
  font-weight: 900;
}
.group-div11 {
  position: absolute;
  top: 130px;
  left: 457px;
  width: 725px;
  height: 764px;
}
.bookly5,
.group-div10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.bookly5 {
  text-decoration: none;
  top: 354px;
  left: 198px;
  font-size: var(--font-size-3xl);
  font-weight: 900;
  color: inherit;
  display: inline-block;
  width: 238px;
  height: 64px;
  opacity: 1;
}
.bookly5.animate {
  animation: 1s ease 0s 1 normal forwards pulsate;
}
.sign-up3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
